In [1]:
# Import the dependencies.
import pandas as pd

In [2]:
import gmaps

In [3]:
import requests

In [4]:
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2020-12-02 02:17:42,-42.88,147.33,62.60,33,40,23.04
1,1,Punta Arenas,CL,2020-12-02 02:20:18,-53.15,-70.92,39.20,78,75,20.80
2,2,Ushuaia,AR,2020-12-02 02:17:59,-54.80,-68.30,37.40,94,40,17.22
3,3,Albany,US,2020-12-02 02:20:18,42.60,-73.97,41.00,52,32,1.01
4,4,Gizo,SB,2020-12-02 02:20:18,-8.10,156.84,85.57,67,98,3.87

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))
    
#instead of using the for loop perform a list comprehension within the heatmap_layer() function below.

In [8]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Gizo,SB,2020-12-02 02:20:18,-8.10,156.84,85.57,67,98,3.87
7,7,Atuona,PF,2020-12-02 02:20:18,-9.80,-139.03,78.49,75,1,14.65
10,10,Manta,EC,2020-12-02 02:20:18,-0.95,-80.73,75.20,78,40,11.41
12,12,Faanui,PF,2020-12-02 02:20:19,-16.48,-151.75,81.07,76,10,14.72
13,13,Hilo,US,2020-12-02 02:18:29,19.73,-155.09,80.60,57,20,9.17
14,14,Kapaa,US,2020-12-02 02:20:19,22.08,-159.32,80.60,69,90,8.05
18,18,Vaini,TO,2020-12-02 02:20:19,-21.20,-175.20,82.40,74,75,10.29
21,21,Puerto Quijarro,BO,2020-12-02 02:20:19,-17.78,-57.77,78.67,74,23,2.73
25,25,Carnarvon,AU,2020-12-02 02:20:20,-24.87,113.63,80.60,32,0,14.99
29,29,Oranjestad,AW,2020-12-02 02:16:10,12.52,-70.03,82.40,78,20,18.34

In [14]:
preferred_cities_df.count()

City_ID       135
City          135
Country       135
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [15]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
preferred_cities_df.notnull().sum()

City_ID       135
City          135
Country       135
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4              Gizo      SB     85.57  -8.10  156.84
7            Atuona      PF     78.49  -9.80 -139.03
10            Manta      EC     75.20  -0.95  -80.73
12           Faanui      PF     81.07 -16.48 -151.75
13             Hilo      US     80.60  19.73 -155.09
14            Kapaa      US     80.60  22.08 -159.32
18            Vaini      TO     82.40 -21.20 -175.20
21  Puerto Quijarro      BO     78.67 -17.78  -57.77
25        Carnarvon      AU     80.60 -24.87  113.63
29       Oranjestad      AW     82.40  12.52  -70.03

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [20]:
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
4              Gizo      SB     85.57  -8.10  156.84
7            Atuona      PF     78.49  -9.80 -139.03
10            Manta      EC     75.20  -0.95  -80.73
12           Faanui      PF     81.07 -16.48 -151.75
13             Hilo      US     80.60  19.73 -155.09
14            Kapaa      US     80.60  22.08 -159.32
18            Vaini      TO     82.40 -21.20 -175.20
21  Puerto Quijarro      BO     78.67 -17.78  -57.77
25        Carnarvon      AU     80.60 -24.87  113.63
29       Oranjestad      AW     82.40  12.52  -70.03

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))