## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# In the Vacation_Itinerary folder have created a folder called "vacation_search to house a copy of 
# the WeatherPy_vacation.csv file to avoid FileNotFound Error.
vacation_df = pd.read_csv("vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Noumea,NC,86.00,broken clouds,-22.28,166.46,Hôtel Le Lagon
1,2,Laguna,US,63.00,clear sky,38.42,-121.42,Courtyard by Marriott Sacramento Midtown
2,5,Kavieng,PG,84.61,clear sky,-2.57,150.80,Lissenung Island Resort
3,7,Kapaa,US,82.40,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,9,Hermanus,ZA,64.00,overcast clouds,-34.42,19.23,Misty Waves Boutique Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and max temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cape Town", ["Lat", "Lng"]]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cape Town", ["Lat", "Lng"]]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saldanha", ["Lat", "Lng"]]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hermanus", ["Lat", "Lng"]] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bredasdorp", ["Lat", "Lng"]]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [26]:
print(start, end, stop1, stop2, stop3)

[[-33.93  18.42]] [[-33.93  18.42]] [[-33.01  17.94]] [[-34.42  19.23]] [[-34.53  20.04]]

In [34]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Start_CapeTown = (-33.93, 18.42)
End_CapeTown = (-33.93, 18.42)
Saldanha = (-33.01, 17.94)
Hermanus = (-34.42, 19.23)
Bredasdorp = (-34.53, 20.04)

fig = gmaps.figure()
Coastal_SouthAfrican_Adventures = gmaps.directions_layer(
    Start_CapeTown, End_CapeTown, waypoints=[Saldanha, Hermanus, Bredasdorp], travel_mode="DRIVING")
fig.add_layer(Coastal_SouthAfrican_Adventures)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# I had to revise the four city DaraFrames to capture needed into to use for itinerary_df.
rev_vacation_start = vacation_df.loc[vacation_df["City"] == "Cape Town"]
rev_vacation_end = vacation_df.loc[vacation_df["City"] == "Cape Town"]
rev_vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saldanha"]
rev_vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hermanus"] 
rev_vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bredasdorp"]

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [rev_vacation_start, rev_vacation_end, rev_vacation_stop1, 
     rev_vacation_stop2, rev_vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,109,Cape Town,ZA,66.2,clear sky,-33.93,18.42,"Radisson Blu Hotel Waterfront, Cape Town"
1,109,Cape Town,ZA,66.2,clear sky,-33.93,18.42,"Radisson Blu Hotel Waterfront, Cape Town"
2,144,Saldanha,ZA,60.8,clear sky,-33.01,17.94,Club Mykonos Resort
3,9,Hermanus,ZA,64.0,overcast clouds,-34.42,19.23,Misty Waves Boutique Hotel
4,43,Bredasdorp,ZA,62.6,overcast clouds,-34.53,20.04,Bredasdorp Country Manor

In [52]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [53]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30, 31), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))